body{
	background-color: black;
	text-align: center;
}

.audio,
h2, 
#question,
#remaining-time
#start
{
  color: red;
}



#last-15-seconds{
	color: yellow
}

.option{
  margin: 17px;
}

#Dustin{
	float: left;
}

#Steve{
	float: right;
}

.jumbotron{
	background-color:black;
	
    text-align:center;
}

.option{
	
	border-style: double;
  border-color: red;
	border-width: 2px;
}